@model Metodología_de_Software.Models.UsuariosModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.NombreUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombreUsuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreUsuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contraseña, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
            </div>
        </div>


        @Model.Mensaje

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>


    </div>
}


<body>
    @using (Html.BeginForm("Login", "Facebook", FormMethod.Post))
    {
        <input type="submit" value="Login with Facebook" />
    }
</body>
<body>
    @using (Html.BeginForm("Login", "Google", FormMethod.Post))
    {
        <input type="submit" value="Login with Google"/>
    }
</body>
<div class="g-signin2" data-onsuccess="onSignIn"></div>





